.cursor/**
.claude/
.vscode/
.codex/**
.env
node_modules/
.svelte-kit/
src-tauri/gen/
build/
dist/
.DS_Store
src-tauri/target/
.pnpm-store/
devlog/
.design-engineer/
.ignore
.ralph/
opencode.json
.eslintcache
.idea/
/nlp_kernal/
include/
